<!DOCTYPE html>
<html>
<head>
	<title>GST Invoice Calculator</title>
</head>
<body>
  <table>
	<thead>
		<tr>
	    	<th> Name </th>
			<th> Price excluding Tax </th>
			<th> GST (%) </th>
			<th> Discount (%) </th>
			<th> Quantity </th>
			<th> Taxable Value </th>
			<th> Spot Discount on Taxable value </th>
			<th> Tax </th>
			<th> Total </th>
		</tr>
	</thead>
	<tbody>
		<% let grandTotal =0; %>
		<% for(let i=0; i<name.length; i++) {%>
		<tr>
			<td> <%= name[i] %> </td>
			<td> <%= price[i] %> </td>
			<td> <%= gst[i] %> </td>
			<td> <%= discount[i] %> </td>
			<td> <%= quantity[i] %> </td>
			<td> <%  var taxableValue = price[i]*quantity[i]*(1-discount[i]/100)%> <%=taxableValue%></td>
			<td> <%= spotDiscount[i] %> </td>
			<td> <% var tax = (taxableValue-spotDiscount[i])*gst[i]/100 %> <%=tax%></td>
			<td> <% var total = ((taxableValue-spotDiscount[i])+tax).toFixed(2) %> <%=total%> </td>
			<% grandTotal+=total }%>
		</tr>
		<tr><td>Total Amount To Pay:</td> <td><%=total%></td></tr>
	</tbody>
</table>

</body>
</html>