<!DOCTYPE html>
<html>
<head>
	<title>GST Invoice Calculator</title>
</head>
<body>
  <table>
	<thead>
		<tr>
	    	<th> Name </th>
			<th> Price excluding Tax </th>
			<th> GST (%) </th>
			<th> Discount (%) </th>
			<th> Quantity </th>
			<th> Taxable Value </th>
			<th> Tax </th>
			<th> Total </th>
		</tr>
	</thead>
	<tbody>
		<% let grandTotal = 0; let totalTaxableValue = 0; %>
		<% for(let i=0; i<name.length; i++) {%>
		<tr>
			<td> <%= name[i] %> </td>
			<td> <%= price[i] %> </td>
			<td> <%= gst[i] %> </td>
			<td> <%= discount[i] %> </td>
			<td> <%= quantity[i] %> </td>
			<td> <%  var taxableValue = price[i]*quantity[i]*(1-discount[i]/100)%> <%=taxableValue%></td>
			<td> <% var tax = (taxableValue)*gst[i]/100 %> <%=tax%></td>
			<td> <% var total = Number(((taxableValue)+tax).toFixed(2)) %> <%=total%> </td>
			<% grandTotal+=total; totalTaxableValue+=taxableValue }%>
		</tr>

		<tr><td>Spot Discount on Total Taxable Value</td><td><%=spotDiscount%> on<%=totalTaxableValue%></td><td>Total Amount To Pay:</td> <td><%=(grandTotal-spotDiscount)%></td></tr>
	</tbody>
</table>

</body>
</html>